.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/spotifi-3ba97.appspot.com/o/alexelcapo.jpg?alt=media&token=2b4bbe41-3353-4d1e-9361-1c947361bc96");
    background-position: top center;
    background-size: 100% 100%;
    padding: 20% 20% 10% 50%;
}